*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-tomato: #d40640;
    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);

    --color-orange: #ff3c00;
    --color-light-black: #222;
    --color-black: #000;

    --shadow: rgba(0, 0, 0, .4);
}

.app {
    background: rgb(244,0,0);
    background: linear-gradient(90deg, rgba(244,0,0,1) 14%, rgba(237,9,142,1) 88%); 

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--color-white);
}

.screen {
    height: 25vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    white-space: no-wrap;
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}

.computation-screen {
    height: 6vh;
    font-size: 25px;
    
    /* To display the value at the bottom-right of the container */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.keypad {
    height: 55vh;
    width: 100%;
}

.keypad_row {
    height: 11vh;
    width: 100%;
    display: flex;
    color: white;
}

.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    background-color: var(--color-white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.btn:hover {
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}
  
.btn:active {
    transform: scale(.9);
}

.btn--large {
    width: 50%;
    height: 100%;
    font-size: 3rem;
    color: white;
    background-color: var(--color-orange);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
  
.btn--large:hover {
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}
  
.btn--large:active {
    transform: scale(.9);
}